.tab {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #4f4f4f;
}

.tab.active {
    border-bottom: 2px solid #3f51b5;
    color: black;
}

.content {
    position: absolute;
}